<!DOCTYPE html>
<html>
<head>
<meta content = "text/html; charset-UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
	<b>Hello from Virtual Booking Agent.</b><br/>
	<br/>
    <%= @venue.name %> is interested in your concert, <%= @concert.title %> <br/> 
    The contact is <%= @venue.contact %>.  <br/>
    The phone number is <%= @venue.phone %>.  <br/>
    The email is <%= @venue.email %>.<br/>
<br/><br/>
Problems?  contact Michael Toth, (michael@virtualpianist.com)
</p>
</body>
</html>
