<table class="center"><tr><td>
<%= form_for @piece do |form| %>
  <div class="field">
    <%= form.label :concert_id %> &nbsp;
<% if @concert.nil? %>
    <%= form.select :concert_id, options_from_collection_for_select(@concerts, 'id', 'title',@piece.concert_id) %>
    <% else %>
        <%= form.select :concert_id, options_from_collection_for_select(@concerts, 'id', 'title',@concert.id) %>
<% end %>
  </div>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :composer %>
    <%= form.text_field :composer %>
  </div>
  <div class="field">
    <%= form.label :songtype %>
    <%= form.text_field :songtype %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :recording %>
    <%= form.text_field :recording %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</td></tr></table>
<div id="notes">
  <div class="form_heading">
    Previously Used Pieces:
  </div>
  <% @dummypieces.each do |p| %>
<li>  <%= link_to p.title, "/concerts/#{@concert.id}/addpiece/#{p.id}" %></li>

  <% end %>
  
</div>
